In [1]:
pwd

u'/Users/austinbrian/dev/skeeter_patrol/code'

In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('../data/input/train.csv')

In [4]:
weather = pd.read_csv('../data/input/weather.csv')

In [25]:
test = pd.read_csv('../data/input/test.csv')

In [26]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,MI,TS,SH,RA,\+FC,SA,SG,PO,PL,SN
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,0,0,0,0,0,0,0,0,0,0
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0,0,0,0,0,0,0,0,0,0
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
def eda(dataframe):
    print "Dataframe Shape", dataframe.shape
    print ""
    table = pd.DataFrame({"Missing": dataframe.isnull().sum(),
                          "Types": dataframe.dtypes,
                         "Uniques": [dataframe[i].nunique() for i in dataframe]})
    print table
    print ""
    print "Describe Dataframe"
    print dataframe.describe()

In [30]:
weather_types = {
'\+FC': 'TORNADO/WATERSPOUT', 
'FC': 'FUNNEL CLOUD',
'TS': 'THUNDERSTORM',
'GR': 'HAIL',
'RA': 'RAIN',
'DZ': 'DRIZZLE',
'SN': 'SNOW',
'SG': 'SNOW GRAINS',
'GS': 'SMALL HAIL ANDOR SNOW PELLETS',
'PL': 'ICE PELLETS',
'IC': 'ICE CRYSTALS',
'FG\+': 'HEAVY FOG', # need to escape the plus, this actually works
'FG': 'FOG',
'BR': 'MIST',
'UP': "UNKNOWN PRECIPITATION",
'HZ': 'HAZE',
'FU': 'SMOKE',
'VA': 'VOLCANIC ASH',
'DU': 'WIDESPREAD DUST',
'DS': 'DUSTSTORM',
'PO': 'SAND_DUST WHIRLS',
'SA': 'SAND',
'SS': 'SANDSTORM',
'PY': 'SPRAY',
'SQ': 'SQUALL',
'DR': 'LOW DRIFTING',
'SH': 'SHOWER',
'FZ': 'FREEZING',
'MI': 'SHALLOW',
'PR': 'PARTIAL',
'BC': 'PATCHES',
'BL': 'BLOWING',
'VC': 'VICINITY'}

In [9]:
for i in weather_types:
    weather[i] = 0
    weather.loc[weather['CodeSum'].str.contains(i) == True,i] = 1
weather.head().T

                      0           1           2           3           4
Station               1           2           1           2           1
Date         2007-05-01  2007-05-01  2007-05-02  2007-05-02  2007-05-03
Tmax                 83          84          59          60          66
Tmin                 50          52          42          43          46
Tavg                 67          68          51          52          56
Depart               14           M          -3           M           2
DewPoint             51          51          42          42          40
WetBulb              56          57          47          47          48
Heat                  0           0          14          13           9
Cool                  2           3           0           0           0
Sunrise            0448           -        0447           -        0446
Sunset             1849           -        1850           -        1851
CodeSum                                      BR       BR HZ
Depth                 0           M           0           M           0
Water1                M           M           M           M           M
SnowFall            0.0           M         0.0           M         0.0
PrecipTotal        0.00        0.00        0.00        0.00        0.00
StnPressure       29.10       29.18       29.38       29.44       29.39
SeaLevel          29.82       29.82       30.09       30.08       30.12
ResultSpeed         1.7         2.7          13        13.3        11.7
ResultDir            27          25           4           2           7
AvgSpeed            9.2         9.6        13.4        13.4        11.9
HZ                    0           0           0           1           0
VA                    0           0           0           0           0
VC                    0           0           0           0           0
GS                    0           0           0           0           0
GR                    0           0           0           0           0
FG\+                  0           0           0           0           0
BC                    0           0           0           0           0
BL                    0           0           0           0           0
FZ                    0           0           0           0           0
UP                    0           0           0           0           0
FC                    0           0           0           0           0
DZ                    0           0           0           0           0
BR                    0           0           1           1           0
FG                    0           0           0           0           0
IC                    0           0           0           0           0
DU                    0           0           0           0           0
DR                    0           0           0           0           0
DS                    0           0           0           0           0
FU                    0           0           0           0           0
PR                    0           0           0           0           0
SS                    0           0           0           0           0
SQ                    0           0           0           0           0
PY                    0           0           0           0           0
MI                    0           0           0           0           0
TS                    0           0           0           0           0
SH                    0           0           0           0           0
RA                    0           0           0           0           0
\+FC                  0           0           0           0           0
SA                    0           0           0           0           0
SG                    0           0           0           0           0
PO                    0           0           0           0           0
PL                    0           0           0           0           0
SN                    0           0           0           0           0

In [10]:
weather['FG\+'].value_counts()

0    2917
1      27
Name: FG\+, dtype: int64

In [11]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,MI,TS,SH,RA,\+FC,SA,SG,PO,PL,SN
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,0,0,0,0,0,0,0,0,0,0
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0,0,0,0,0,0,0,0,0,0
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
spray = pd.read_csv('../data/input/spray.csv')

In [13]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [14]:
spray.groupby('Date').count()

            Time  Latitude  Longitude
Date
2011-08-29    95        95         95
2011-09-07  1530      2114       2114
2013-07-17  2202      2202       2202
2013-07-25  1607      1607       1607
2013-08-08  1195      1195       1195
2013-08-15  2668      2668       2668
2013-08-16   141       141        141
2013-08-22  1587      1587       1587
2013-08-29  2302      2302       2302
2013-09-05   924       924        924

In [16]:
train.Date = pd.to_datetime(train.Date)
train['year']=pd.DatetimeIndex(train.Date).year
train['month']=pd.DatetimeIndex(train.Date).month

In [17]:
spray.Date = pd.to_datetime(spray.Date,format='%Y-%M-%d')
spray['year']=pd.DatetimeIndex(spray.Date).year
spray['month']=pd.DatetimeIndex(spray.Date).month

In [18]:
spray.groupby('year').count()

       Date   Time  Latitude  Longitude  month
year
2011   2209   1625      2209       2209   2209
2013  12626  12626     12626      12626  12626

In [19]:
train.groupby('year',).WnvPresent.value_counts()

year  WnvPresent
2007  0             3575
      1              236
2009  0             2230
      1               19
2011  0             1997
      1               57
2013  0             2153
      1              239
Name: WnvPresent, dtype: int64

In [ ]:
pd.crosstab(train.AddressAccuracy,train.Date)

In [20]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,year,month
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,2007,5
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,2007,5
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,2007,5
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,2007,5
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,2007,5

In [21]:
train.WnvPresent.value_counts()

0    9955
1     551
Name: WnvPresent, dtype: int64

In [23]:
train.groupby('Species').sum()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,year,month
Species,,,,,,,,
CULEX ERRATICUS,10,41.974689,-87.890615,9,7,0,2013,9
CULEX PIPIENS,88527,112854.372337,-236649.617578,20040,44671,240,5421463,22044
CULEX PIPIENS/RESTUANS,174429,198865.648503,-416775.307552,37729,66268,262,9550042,36588
CULEX RESTUANS,100789,114693.922296,-240334.622989,21974,23431,49,5508292,19730
CULEX SALINARIUS,2806,3596.961565,-7541.665800,668,145,0,172752,644
CULEX TARSALIS,183,250.908138,-525.969405,45,7,0,12062,53
CULEX TERRITANS,8192,9279.221850,-19460.159333,1687,510,0,445984,1750

In [31]:
train.groupby('Trap').sum()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,year,month
Trap,,,,,,,,
T001,600,629.305575,-1316.009610,120,25,0,30105,121
T002,7585,7761.617650,-16243.183335,1665,3710,18,371867,1370
T003,5612,5119.637524,-10706.431958,976,1346,14,245222,933
T004,588,503.552736,-1052.980404,108,59,0,24084,103
T005,840,587.189596,-1228.869390,112,50,2,28098,117
T006,1440,1007.766816,-2107.131048,192,107,4,48168,187
T007,1426,965.884793,-2018.693417,207,77,0,46161,182
T008,9730,5839.155646,-12201.131019,1251,2668,10,279395,1031
T009,10101,4660.839124,-9751.237237,888,1940,9,223125,838
T011,4788,5578.667577,-11681.757479,1064,1311,11,267309,1008
T012,6405,4409.100045,-9213.446865,840,952,4,211059,796
T013,6344,4360.068752,-9129.669952,936,1193,10,209060,835
T014,1920,1259.107440,-2633.639760,240,364,4,60210,243
T015,2765,1469.093115,-3073.868420,280,169,4,70245,263
T016,4752,2772.765666,-5795.559396,528,847,7,132516,499
T017,4680,3272.928048,-6846.620742,702,233,0,156808,597
T018,756,2646.655956,-5522.714820,504,121,0,126653,465
T019,874,964.846090,-2017.064511,207,72,0,46161,186
T025,1323,1133.439561,-2369.275326,243,72,0,54189,216
T027,5394,3904.587237,-8158.749756,744,666,7,187013,716
T028,6786,4912.469757,-10259.704026,1053,1020,9,235137,871
T030,1260,5279.302980,-11052.315288,1134,1802,8,253298,959
T031,7300,6103.018708,-12813.458736,1314,1543,5,293452,1106
T033,1358,4064.943886,-8507.038807,873,680,5,194975,758
T034,459,711.344787,-1490.674971,153,52,0,34119,141
T035,3105,3008.957373,-6315.702489,576,309,3,144738,568
T036,1008,1004.090040,-2105.505216,216,52,1,48168,194
T037,1972,1215.714133,-2546.060220,232,171,1,58203,233
T039,1360,3352.945920,-7018.138960,720,404,4,160782,627
T040,42,83.705304,-175.439774,16,6,0,4014,12
...,...,...,...,...,...,...,...,...
T160,1001,3813.173182,-7979.632297,728,666,4,182825,704
T161,2496,1084.695534,-2279.552288,234,126,0,52182,206
T162,1953,876.235857,-1839.899418,168,70,1,42147,174
T200,1677,5376.541722,-11295.150732,645,1368,1,259093,1026
T206,273,876.478092,-1838.404407,105,65,0,42147,171
T209,1690,5426.283330,-11381.056310,650,1113,3,261292,1000
T212,5624,6335.503792,-13305.350096,1216,2595,3,305416,1148
T215,1710,1875.887910,-3938.923575,360,852,3,90315,362
T218,2738,3104.164358,-6492.071652,592,395,2,148656,563
T219,378,881.306727,-1841.168217,168,50,0,42147,176
T220,4410,4112.469648,-8593.797380,882,631,4,196964,735
T221,4480,4665.820544,-9804.333616,896,1699,9,225164,863
T222,2880,2515.511880,-5264.782860,480,300,1,120674,471
T223,4437,3651.724515,-7639.040133,783,1281,9,174965,676
T224,918,2265.150258,-4734.258678,486,284,1,108636,409
T225,8446,4299.570406,-9036.337805,824,2014,11,207115,805
T226,6930,3218.123986,-6749.376018,385,848,4,154899,582
T227,5070,3254.822610,-6832.875114,390,1179,4,156918,592
T228,2418,2601.015692,-5438.953534,496,643,6,124732,481
T229,88,334.027288,-701.118536,40,28,0,16072,69
T230,845,2723.772610,-5704.150075,585,644,7,130757,499
T231,2436,1763.465760,-3681.974772,336,521,4,84524,323
T232,850,2095.628150,-4383.402750,450,286,2,100604,379
T233,3550,2100.493800,-4390.363850,450,758,7,100618,398
T235,2604,2590.138536,-5432.879952,496,557,7,124744,470
T236,2046,1385.824407,-2896.439667,264,375,1,66417,257
T237,87,125.216709,-263.086329,24,18,0,6033,27
T238,238,292.273737,-613.951758,56,34,0,14077,63
T900,7500,31481.016750,-65917.961250,6750,15386,66,1508180,5521
T903,1400,5874.091860,-12310.339300,700,2327,10,281456,1059

In [38]:
train[train.Trap =='T035'].Address.value_counts()

5100 West 72nd Street, Chicago, IL 60638, USA      45
3000 South Hoyne Avenue, Chicago, IL 60608, USA    27
Name: Address, dtype: int64

In [32]:
train.groupby(['Date','Trap']).sum()

                 Block    Latitude   Longitude  AddressAccuracy  NumMosquitos  \
Date       Trap
2007-05-29 T002     82   83.909380 -175.601982               18             2
           T007     62   41.994991  -87.769279                9             1
           T015    158   83.948178 -175.649624               16             5
           T045     15   41.921600  -87.666455                8             2
           T046     25   41.891118  -87.654491                8             1
           T048     22   83.734216 -175.308448               16             3
           T049     11   41.896282  -87.655232                8             1
           T050     21   41.919343  -87.694259                8             1
           T054     44   83.843930 -175.264170               16             5
           T086     44   83.376648 -175.353418               16             2
           T091     11   41.862292  -87.648860                8             1
           T094     17   41.720848  -87.666014                9             3
           T096     44   83.463844 -175.355024               16             6
           T129    106   83.782252 -175.223120               10             3
           T143     65   41.999129  -87.795585                8             1
           T148     75   42.017430  -87.687769                8             1
           T153     15   41.907645  -87.760886                8             1
           T159     89   41.732984  -87.649642                8             1
2007-06-05 T002    123  125.864070 -263.402973               27             9
           T009     91   41.981964  -87.812827                8             2
           T011     36   41.944869  -87.832763                8             1
           T015    158   83.948178 -175.649624               16             3
           T016     72   42.011601  -87.811506                8             1
           T019     38   41.949830  -87.698457                9             1
           T025     49   41.979243  -87.750938                9             1
           T028     58   41.986921  -87.689778                9             2
           T031     50   41.801498  -87.763416                9             1
           T033     14   41.906638  -87.701431                9             3
           T045     45  125.764800 -262.999365               24             4
           T046     25   41.891118  -87.654491                8             1
...                ...         ...         ...              ...           ...
2013-09-26 T099     89   41.733643  -87.555510                8             5
           T102     30  125.251494 -262.815882               15             4
           T114    104   83.597394 -175.473624               16             4
           T115     24   83.346816 -175.199724               10             7
           T128     48   83.409144 -175.131332               16            11
           T135     84   83.324028 -175.449216               16             7
           T138     20   83.452930 -175.170826               10            10
           T145     43   41.878114  -87.629798                3             2
           T151     70   41.916265  -87.800515                8             8
           T152     25   41.846075  -87.716277                9             2
           T155     63   41.776156  -87.778927                9             4
           T158     35   41.682587  -87.707973                9             8
           T159    178   83.465968 -175.299284               16            27
           T209     39  125.221923 -262.639761               15            18
           T212     74   83.361892 -175.070396               16             3
           T220     45   41.963976  -87.691810                9             8
           T221    120  124.977336 -262.616079               24            14
           T222     48   41.925198  -87.746381                8             1
           T223    102   83.947690 -175.610118               18            12
           T224     17   41.947227  -87.671457                9             3
           T225     82   41.743402  -87.731435                8             3
           T226     90   41.793818  -87.654234                5             8
           T227    130   83.456990 -175.201926               10             8
           T228     39   41.951866  -87.725057                8             3
           T230     26   83.808388 -175.512310               18            18
           T231     58   41.987280  -87.666066                8             5
           T232     17   41.912563  -87.668055                9             1
           T233     71   42.009876  -87.807277                9             5
           T235     42   41.776428  -87.627096                8             1
           T900     60  251.848134 -527.343690               54            80

                 WnvPresent   year  month
Date       Trap
2007-05-29 T002           0   4014     10
           T007           0   2007      5
           T015           0   4014     10
           T045           0   2007      5
           T046           0   2007      5
           T048           0   4014     10
           T049           0   2007      5
           T050           0   2007      5
           T054           0   4014     10
           T086           0   4014     10
           T091           0   2007      5
           T094           0   2007      5
           T096           0   4014     10
           T129           0   4014     10
           T143           0   2007      5
           T148           0   2007      5
           T153           0   2007      5
           T159           0   2007      5
2007-06-05 T002           0   6021     18
           T009           0   2007      6
           T011           0   2007      6
           T015           0   4014     12
           T016           0   2007      6
           T019           0   2007      6
           T025           0   2007      6
           T028           0   2007      6
           T031           0   2007      6
           T033           0   2007      6
           T045           0   6021     18
           T046           0   2007      6
...                     ...    ...    ...
2013-09-26 T099           0   2013      9
           T102           0   6039     27
           T114           0   4026     18
           T115           0   4026     18
           T128           0   4026     18
           T135           0   4026     18
           T138           0   4026     18
           T145           0   2013      9
           T151           0   2013      9
           T152           0   2013      9
           T155           1   2013      9
           T158           0   2013      9
           T159           0   4026     18
           T209           0   6039     27
           T212           0   4026     18
           T220           0   2013      9
           T221           0   6039     27
           T222           0   2013      9
           T223           0   4026     18
           T224           0   2013      9
           T225           0   2013      9
           T226           0   2013      9
           T227           0   4026     18
           T228           0   2013      9
           T230           0   4026     18
           T231           0   2013      9
           T232           0   2013      9
           T233           0   2013      9
           T235           0   2013      9
           T900           1  12078     54

[4616 rows x 8 columns]

In [34]:
date_trap_train = pd.DataFrame(train.groupby(['Date','Trap']).sum())

In [41]:
date_trap_train.head()

                 Block   Latitude   Longitude  AddressAccuracy  NumMosquitos  \
Date       Trap
2007-05-29 T002     82  83.909380 -175.601982               18             2
           T007     62  41.994991  -87.769279                9             1
           T015    158  83.948178 -175.649624               16             5
           T045     15  41.921600  -87.666455                8             2
           T046     25  41.891118  -87.654491                8             1

                 WnvPresent  year  month
Date       Trap
2007-05-29 T002           0  4014     10
           T007           0  2007      5
           T015           0  4014     10
           T045           0  2007      5
           T046           0  2007      5

In [92]:
train.groupby(['Trap','year','month']).agg({'NumMosquitos':sum,'WnvPresent':sum,'month':'count','Latitude':np.mean,'Longitude':np.mean})

                 NumMosquitos   Latitude  Longitude  WnvPresent  month
Trap year month
T001 2007 6                 1  41.953705 -87.733974           0      1
          7                 2  41.953705 -87.733974           0      2
          8                19  41.953705 -87.733974           0      9
          9                 1  41.953705 -87.733974           0      1
          10                2  41.953705 -87.733974           0      2
T002 2007 5                 2  41.954690 -87.800991           0      2
          6                17  41.954690 -87.800991           0      7
          7                80  41.954690 -87.800991           0     11
          8               413  41.954690 -87.800991           5     18
          9               146  41.954690 -87.800991           3      8
          10               82  41.954690 -87.800991           0      3
     2009 5                 2  41.954690 -87.800991           0      1
          6               189  41.954690 -87.800991           0     13
          7               552  41.954690 -87.800991           1     22
          8                34  41.954690 -87.800991           0      4
          9                41  41.954690 -87.800991           0      6
     2011 6                58  41.954690 -87.800991           0      5
          7               173  41.954690 -87.800991           0     10
          8                78  41.954690 -87.800991           0      6
          9                51  41.954690 -87.800991           1      9
     2013 6               371  41.954690 -87.800991           0     12
          7               890  41.954690 -87.800991           0     22
          8               357  41.954690 -87.800991           7     17
          9               174  41.954690 -87.800991           1      9
T003 2007 6                 2  41.964242 -87.757639           0      1
          7                 9  41.964242 -87.757639           0      6
          8               164  41.964242 -87.757639           4     16
          9                20  41.964242 -87.757639           0      5
          10               19  41.964242 -87.757639           0      2
     2009 5                 1  41.964242 -87.757639           0      1
...                       ...        ...        ...         ...    ...
T236 2013 9                34  41.994679 -87.770899           1      4
T237 2011 9                18  41.738903 -87.695443           0      3
T238 2011 9                34  41.753391 -87.707394           0      7
T900 2009 5                34  41.974689 -87.890615           0      2
          6              3008  41.974689 -87.890615           0     93
          7              1557  41.974689 -87.890615           0     83
          8               678  41.974689 -87.890615           1     51
          9               194  41.974689 -87.890615           1     39
          10               17  41.974689 -87.890615           0      5
     2011 6              1401  41.974689 -87.890615           0     70
          7              1548  41.974689 -87.890615           5     65
          8               659  41.974689 -87.890615          10     49
          9               601  41.974689 -87.890615           3     55
     2013 6               944  41.974689 -87.890615           0     45
          7              1371  41.974689 -87.890615           3     59
          8              2136  41.974689 -87.890615          28     88
          9              1238  41.974689 -87.890615          15     46
T903 2009 6               548  41.957799 -87.930995           0     16
          7               255  41.957799 -87.930995           0     19
          8               230  41.957799 -87.930995           2     12
          9                29  41.957799 -87.930995           0     10
          10               17  41.957799 -87.930995           0      2
     2011 6               111  41.957799 -87.930995           0      6
          7               556  41.957799 -87.930995           2     22
          8               150  41.957799 -87.930995           4     11
          9               237  41.957799 -87.930995           2     25
     2013 6                60  41.957799 -87.930995           0      6
          7                44  41.957799 -87.930995           0      5
          8                60  41.957799 -87.930995           0      4
          9                30  41.957799 -87.930995           0      2

[1453 rows x 5 columns]

In [99]:
date_train = pd.DataFrame(train.groupby(['Trap','year','month']).agg({'NumMosquitos':sum,'WnvPresent':sum,'month':'count','Latitude':np.mean,'Longitude':np.mean}))

In [100]:
date_train.loc[:,'wnv_binary'] = 0
date_train.loc[date_train.WnvPresent>0,'wnv_binary'] = 1

# Modeling Num Mosquitos

In [36]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [37]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
def evaluate_model(m):
    model = m.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    score = accuracy_score(y_test, y_pred)
    conf_matrix = confusion_matrix(y_test,y_pred,labels =[0,1])
    class_report = classification_report
    print m,'\n'
    print "Accuracy Score:\t{:0.3}".format(score.round(3)),'\n\n'
    crossval = cross_val_score(m, X, y,cv=7)
    print "Cross Val Scores:", crossval,'\n'
    print "Avg cross val:", np.mean(crossval),'\n'
    print "Predicted Totals:"
    for i,v in enumerate(np.bincount(y)):
        print "class "+str(i)+':' , v
    print "\nConfusion Matrix:"
    conmat = np.array(confusion_matrix(y_test, y_pred, labels=[1,0]))
    confusion = pd.DataFrame(conmat, index=['Actual 1', 'Actual 0'],
                         columns=['Predicted 1','Predicted 0'])
    print(confusion),'\n'
    print "Classification Report:"
    print(classification_report(y_test, y_pred, target_names=['0','1']))

In [39]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
train['trap_e'] = le.fit_transform(train['Trap'])
train['mosquito']=le.fit_transform(train['Species'])

In [59]:
X = train[['NumMosquitos','trap_e','year']]
y = train.WnvPresent
model = lr.fit(X,y)

def lr_score(m):
    print "Regression score: ",lr.score(X,y),'\n'
    for i,v in enumerate(X.columns):
        print v
        print "\tCoefficient:", lr.coef_[0][i]
        print "\tOdds ratio:",np.exp(lr.coef_[0][i])
lr_score(model)

Regression score:  0.947553778793

NumMosquitos
	Coefficient: 0.0416181665323
	Odds ratio: 1.04249634275
trap_e
	Coefficient: -0.00194528572461
	Odds ratio: 0.998056605117
year
	Coefficient: -0.00175470328992
	Odds ratio: 0.998246835302

> So the trap itself (encoded to work with logisitc regression) isn't a good predictor of whether there will be west nile virus.
With every additional mosquito, a trap becomes 4% more likely to have west nile virus.

In [101]:
# Try again with groupby, such that the mosquitos are binned together in each trap, grouped by month
X = date_train[['NumMosquitos','month']]
Y = date_train.wnv_binary
model = lr.fit(X,y)
lr_score(model)

ValueError: Found input variables with inconsistent numbers of samples: [1453, 10506]

In [ ]:
train[train.WnvPresent==1].groupby('Species').WnvPresent.value_counts()

In [ ]:
train['carrier_species'] = 0
train.loc[train.WnvPresent==1,'carrier_species'] = 1

In [ ]:
X = train[['carrier_species','Latitude','Longitude','trap_e']]
y = train.NumMosquitos
lr.fit(X,y)
print("logistic score: ",lr.score(X,y))
for i,v in enumerate(X.columns):
    print "Coefficient:",v, lr.coef_[0][i]
    print "\tOdds ratio:",v,np.exp(lr.coef_[0][i])

> For every one point increase in latitude (move west), an additional mosquito is 76% more likely.
For every one point increase in longitude (move north), an additional mosquito is 4.8 times more likely.

Big issue - if we think that the total number of mosquitos is going to be predictive of WNV, need to figure out the multiple inputs for each group.

In [ ]:
train.groupby(['Date','Trap','Species']).agg({"NumMosquitos":sum,"WnvPresent":sum})

In [105]:
train.loc[:,'Coordinates']= (0,1)

ValueError: Must have equal len keys and value when setting with an iterable

# n-1 Weather

In [ ]:
weather.head().T

In [ ]:
ohare = weather[weather.Station == 1]

In [ ]:
assert ohare.Date.nunique() == ohare.Station.sum() # check that all of the ohares are unique, using station = 1

In [ ]:
weather.Date = pd.DatetimeIndex(weather.Date,format='%Y-%M-%d')

In [ ]:
weather['w_n-1'] = weather.Date-pd.DateOffset(1)

In [ ]:
train.head(1)

In [ ]:
from datetime import datetime

In [ ]:
weather.Date[1].timedelta.day(1)

In [ ]:
train.groupby