In [1]:
pwd

u'/Users/austinbrian/dev/skeeter_patrol/code'

In [2]:
import pandas as pd
import numpy as np

In [3]:
weather = pd.read_csv('../data/input/weather.csv')

In [17]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,MI,TS,SH,RA,\+FC,SA,SG,PO,PL,SN
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,0,0,0,0,0,0,0,0,0,0
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0,0,0,0,0,0,0,0,0,0
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
def eda(dataframe):
    print "Dataframe Shape", dataframe.shape
    print ""
    table = pd.DataFrame({"Missing": dataframe.isnull().sum(),
                          "Types": dataframe.dtypes,
                         "Uniques": [dataframe[i].nunique() for i in dataframe]})
    print table
    print ""
    print "Describe Dataframe"
    print dataframe.describe()

In [11]:
eda(weather)

Dataframe Shape (2944, 55)

             Missing    Types  Uniques
Station            0    int64        2
Date               0   object     1472
Tmax               0    int64       63
Tmin               0    int64       54
Tavg               0   object       60
Depart             0   object       42
DewPoint           0    int64       54
WetBulb            0   object       48
Heat               0   object       31
Cool               0   object       31
Sunrise            0   object      122
Sunset             0   object      119
CodeSum            0   object       98
Depth              0   object        2
Water1             0   object        1
SnowFall           0   object        4
PrecipTotal        0   object      168
StnPressure        0   object      104
SeaLevel           0   object      102
ResultSpeed        0  float64      190
ResultDir          0    int64       36
AvgSpeed           0   object      178
HZ                 0    int64        2
VA                 0    int64        1
VC                 0    int64        2
GS                 0    int64        1
GR                 0    int64        2
FG\+               0    int64        2
BC                 0    int64        2
BL                 0    int64        1
FZ                 0    int64        1
UP                 0    int64        1
FC                 0    int64        1
DZ                 0    int64        2
BR                 0    int64        2
FG                 0    int64        2
IC                 0    int64        1
DU                 0    int64        1
DR                 0    int64        1
DS                 0    int64        1
FU                 0    int64        2
PR                 0    int64        1
SS                 0    int64        1
SQ                 0    int64        2
PY                 0    int64        1
MI                 0    int64        2
TS                 0    int64        2
SH                 0    int64        1
RA                 0    int64        2
\+FC               0    int64        1
SA                 0    int64        1
SG                 0    int64        1
PO                 0    int64        1
PL                 0    int64        1
SN                 0    int64        2

Describe Dataframe
           Station         Tmax         Tmin     DewPoint  ResultSpeed  \
count  2944.000000  2944.000000  2944.000000  2944.000000  2944.000000
mean      1.500000    76.166101    57.810462    53.457880     6.960666
std       0.500085    11.461970    10.381939    10.675181     3.587527
min       1.000000    41.000000    29.000000    22.000000     0.100000
25%       1.000000    69.000000    50.000000    46.000000     4.300000
50%       1.500000    78.000000    59.000000    54.000000     6.400000
75%       2.000000    85.000000    66.000000    62.000000     9.200000
max       2.000000   104.000000    83.000000    75.000000    24.100000

         ResultDir           HZ      VA           VC      GS     ...       \
count  2944.000000  2944.000000  2944.0  2944.000000  2944.0     ...
mean     17.494905     0.089334     0.0     0.007812     0.0     ...
std      10.063609     0.285274     0.0     0.088057     0.0     ...
min       1.000000     0.000000     0.0     0.000000     0.0     ...
25%       7.000000     0.000000     0.0     0.000000     0.0     ...
50%      19.000000     0.000000     0.0     0.000000     0.0     ...
75%      25.000000     0.000000     0.0     0.000000     0.0     ...
max      36.000000     1.000000     0.0     1.000000     0.0     ...

                MI           TS      SH           RA    \+FC      SA      SG  \
count  2944.000000  2944.000000  2944.0  2944.000000  2944.0  2944.0  2944.0
mean      0.001019     0.119905     0.0     0.351562     0.0     0.0     0.0
std       0.031911     0.324905     0.0     0.477539     0.0     0.0     0.0
min       0.000000     0.000000     0.0     0.000000     0.0     0.0     0.0
25%       0.000000     0.000000     0.0     0.000000     0.0     0.0     0.0
50%       0.000000     0.000000     0.0     0.000000     0.0     0.0     0.0
75%       0.000000     0.000000     0.0     1.000000     0.0     0.0     0.0
max       1.000000     1.000000     0.0     1.000000     0.0     0.0     0.0

           PO      PL           SN
count  2944.0  2944.0  2944.000000
mean      0.0     0.0     0.002038
std       0.0     0.0     0.045106
min       0.0     0.0     0.000000
25%       0.0     0.0     0.000000
50%       0.0     0.0     0.000000
75%       0.0     0.0     0.000000
max       0.0     0.0     1.000000

[8 rows x 39 columns]

In [12]:
weather_types = {
'\+FC': 'TORNADO/WATERSPOUT', 
'FC': 'FUNNEL CLOUD',
'TS': 'THUNDERSTORM',
'GR': 'HAIL',
'RA': 'RAIN',
'DZ': 'DRIZZLE',
'SN': 'SNOW',
'SG': 'SNOW GRAINS',
'GS': 'SMALL HAIL ANDOR SNOW PELLETS',
'PL': 'ICE PELLETS',
'IC': 'ICE CRYSTALS',
'FG\+': 'HEAVY FOG', # need to escape the plus, this actually works
'FG': 'FOG',
'BR': 'MIST',
'UP': "UNKNOWN PRECIPITATION",
'HZ': 'HAZE',
'FU': 'SMOKE',
'VA': 'VOLCANIC ASH',
'DU': 'WIDESPREAD DUST',
'DS': 'DUSTSTORM',
'PO': 'SAND_DUST WHIRLS',
'SA': 'SAND',
'SS': 'SANDSTORM',
'PY': 'SPRAY',
'SQ': 'SQUALL',
'DR': 'LOW DRIFTING',
'SH': 'SHOWER',
'FZ': 'FREEZING',
'MI': 'SHALLOW',
'PR': 'PARTIAL',
'BC': 'PATCHES',
'BL': 'BLOWING',
'VC': 'VICINITY'}

In [13]:
for i in weather_types:
    weather[i] = 0
    weather.loc[weather['CodeSum'].str.contains(i) == True,i] = 1
weather.head().T

                      0           1           2           3           4
Station               1           2           1           2           1
Date         2007-05-01  2007-05-01  2007-05-02  2007-05-02  2007-05-03
Tmax                 83          84          59          60          66
Tmin                 50          52          42          43          46
Tavg                 67          68          51          52          56
Depart               14           M          -3           M           2
DewPoint             51          51          42          42          40
WetBulb              56          57          47          47          48
Heat                  0           0          14          13           9
Cool                  2           3           0           0           0
Sunrise            0448           -        0447           -        0446
Sunset             1849           -        1850           -        1851
CodeSum                                      BR       BR HZ
Depth                 0           M           0           M           0
Water1                M           M           M           M           M
SnowFall            0.0           M         0.0           M         0.0
PrecipTotal        0.00        0.00        0.00        0.00        0.00
StnPressure       29.10       29.18       29.38       29.44       29.39
SeaLevel          29.82       29.82       30.09       30.08       30.12
ResultSpeed         1.7         2.7          13        13.3        11.7
ResultDir            27          25           4           2           7
AvgSpeed            9.2         9.6        13.4        13.4        11.9
HZ                    0           0           0           1           0
VA                    0           0           0           0           0
VC                    0           0           0           0           0
GS                    0           0           0           0           0
GR                    0           0           0           0           0
FG\+                  0           0           0           0           0
BC                    0           0           0           0           0
BL                    0           0           0           0           0
FZ                    0           0           0           0           0
UP                    0           0           0           0           0
FC                    0           0           0           0           0
DZ                    0           0           0           0           0
BR                    0           0           1           1           0
FG                    0           0           0           0           0
IC                    0           0           0           0           0
DU                    0           0           0           0           0
DR                    0           0           0           0           0
DS                    0           0           0           0           0
FU                    0           0           0           0           0
PR                    0           0           0           0           0
SS                    0           0           0           0           0
SQ                    0           0           0           0           0
PY                    0           0           0           0           0
MI                    0           0           0           0           0
TS                    0           0           0           0           0
SH                    0           0           0           0           0
RA                    0           0           0           0           0
\+FC                  0           0           0           0           0
SA                    0           0           0           0           0
SG                    0           0           0           0           0
PO                    0           0           0           0           0
PL                    0           0           0           0           0
SN                    0           0           0           0           0

In [19]:
weather['FG\+'].value_counts()

0    2917
1      27
Name: FG\+, dtype: int64

In [45]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,MI,TS,SH,RA,\+FC,SA,SG,PO,PL,SN
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,0,0,0,0,0,0,0,0,0,0
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0,0,0,0,0,0,0,0,0,0
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
spray = pd.read_csv('../data/input/spray.csv')

In [23]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [60]:
train = pd.read_csv('../data/input/train.csv')

In [61]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [62]:
train.WnvPresent.value_counts()

0    9955
1     551
Name: WnvPresent, dtype: int64

In [63]:
test = pd.read_csv('../data/input/test.csv')

In [64]:
train.groupby('Species').sum()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Species,,,,,,
CULEX ERRATICUS,10,41.974689,-87.890615,9,7,0
CULEX PIPIENS,88527,112854.372337,-236649.617578,20040,44671,240
CULEX PIPIENS/RESTUANS,174429,198865.648503,-416775.307552,37729,66268,262
CULEX RESTUANS,100789,114693.922296,-240334.622989,21974,23431,49
CULEX SALINARIUS,2806,3596.961565,-7541.665800,668,145,0
CULEX TARSALIS,183,250.908138,-525.969405,45,7,0
CULEX TERRITANS,8192,9279.221850,-19460.159333,1687,510,0

In [65]:
train.groupby('Trap').sum()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Trap,,,,,,
T001,600,629.305575,-1316.009610,120,25,0
T002,7585,7761.617650,-16243.183335,1665,3710,18
T003,5612,5119.637524,-10706.431958,976,1346,14
T004,588,503.552736,-1052.980404,108,59,0
T005,840,587.189596,-1228.869390,112,50,2
T006,1440,1007.766816,-2107.131048,192,107,4
T007,1426,965.884793,-2018.693417,207,77,0
T008,9730,5839.155646,-12201.131019,1251,2668,10
T009,10101,4660.839124,-9751.237237,888,1940,9
T011,4788,5578.667577,-11681.757479,1064,1311,11
T012,6405,4409.100045,-9213.446865,840,952,4
T013,6344,4360.068752,-9129.669952,936,1193,10
T014,1920,1259.107440,-2633.639760,240,364,4
T015,2765,1469.093115,-3073.868420,280,169,4
T016,4752,2772.765666,-5795.559396,528,847,7
T017,4680,3272.928048,-6846.620742,702,233,0
T018,756,2646.655956,-5522.714820,504,121,0
T019,874,964.846090,-2017.064511,207,72,0
T025,1323,1133.439561,-2369.275326,243,72,0
T027,5394,3904.587237,-8158.749756,744,666,7
T028,6786,4912.469757,-10259.704026,1053,1020,9
T030,1260,5279.302980,-11052.315288,1134,1802,8
T031,7300,6103.018708,-12813.458736,1314,1543,5
T033,1358,4064.943886,-8507.038807,873,680,5
T034,459,711.344787,-1490.674971,153,52,0
T035,3105,3008.957373,-6315.702489,576,309,3
T036,1008,1004.090040,-2105.505216,216,52,1
T037,1972,1215.714133,-2546.060220,232,171,1
T039,1360,3352.945920,-7018.138960,720,404,4
T040,42,83.705304,-175.439774,16,6,0
...,...,...,...,...,...,...
T160,1001,3813.173182,-7979.632297,728,666,4
T161,2496,1084.695534,-2279.552288,234,126,0
T162,1953,876.235857,-1839.899418,168,70,1
T200,1677,5376.541722,-11295.150732,645,1368,1
T206,273,876.478092,-1838.404407,105,65,0
T209,1690,5426.283330,-11381.056310,650,1113,3
T212,5624,6335.503792,-13305.350096,1216,2595,3
T215,1710,1875.887910,-3938.923575,360,852,3
T218,2738,3104.164358,-6492.071652,592,395,2
T219,378,881.306727,-1841.168217,168,50,0
T220,4410,4112.469648,-8593.797380,882,631,4
T221,4480,4665.820544,-9804.333616,896,1699,9
T222,2880,2515.511880,-5264.782860,480,300,1
T223,4437,3651.724515,-7639.040133,783,1281,9
T224,918,2265.150258,-4734.258678,486,284,1
T225,8446,4299.570406,-9036.337805,824,2014,11
T226,6930,3218.123986,-6749.376018,385,848,4
T227,5070,3254.822610,-6832.875114,390,1179,4
T228,2418,2601.015692,-5438.953534,496,643,6
T229,88,334.027288,-701.118536,40,28,0
T230,845,2723.772610,-5704.150075,585,644,7
T231,2436,1763.465760,-3681.974772,336,521,4
T232,850,2095.628150,-4383.402750,450,286,2
T233,3550,2100.493800,-4390.363850,450,758,7
T235,2604,2590.138536,-5432.879952,496,557,7
T236,2046,1385.824407,-2896.439667,264,375,1
T237,87,125.216709,-263.086329,24,18,0
T238,238,292.273737,-613.951758,56,34,0
T900,7500,31481.016750,-65917.961250,6750,15386,66
T903,1400,5874.091860,-12310.339300,700,2327,10

In [66]:
train.groupby(['Date','Trap']).sum()

                 Block    Latitude   Longitude  AddressAccuracy  NumMosquitos  \
Date       Trap
2007-05-29 T002     82   83.909380 -175.601982               18             2
           T007     62   41.994991  -87.769279                9             1
           T015    158   83.948178 -175.649624               16             5
           T045     15   41.921600  -87.666455                8             2
           T046     25   41.891118  -87.654491                8             1
           T048     22   83.734216 -175.308448               16             3
           T049     11   41.896282  -87.655232                8             1
           T050     21   41.919343  -87.694259                8             1
           T054     44   83.843930 -175.264170               16             5
           T086     44   83.376648 -175.353418               16             2
           T091     11   41.862292  -87.648860                8             1
           T094     17   41.720848  -87.666014                9             3
           T096     44   83.463844 -175.355024               16             6
           T129    106   83.782252 -175.223120               10             3
           T143     65   41.999129  -87.795585                8             1
           T148     75   42.017430  -87.687769                8             1
           T153     15   41.907645  -87.760886                8             1
           T159     89   41.732984  -87.649642                8             1
2007-06-05 T002    123  125.864070 -263.402973               27             9
           T009     91   41.981964  -87.812827                8             2
           T011     36   41.944869  -87.832763                8             1
           T015    158   83.948178 -175.649624               16             3
           T016     72   42.011601  -87.811506                8             1
           T019     38   41.949830  -87.698457                9             1
           T025     49   41.979243  -87.750938                9             1
           T028     58   41.986921  -87.689778                9             2
           T031     50   41.801498  -87.763416                9             1
           T033     14   41.906638  -87.701431                9             3
           T045     45  125.764800 -262.999365               24             4
           T046     25   41.891118  -87.654491                8             1
...                ...         ...         ...              ...           ...
2013-09-26 T099     89   41.733643  -87.555510                8             5
           T102     30  125.251494 -262.815882               15             4
           T114    104   83.597394 -175.473624               16             4
           T115     24   83.346816 -175.199724               10             7
           T128     48   83.409144 -175.131332               16            11
           T135     84   83.324028 -175.449216               16             7
           T138     20   83.452930 -175.170826               10            10
           T145     43   41.878114  -87.629798                3             2
           T151     70   41.916265  -87.800515                8             8
           T152     25   41.846075  -87.716277                9             2
           T155     63   41.776156  -87.778927                9             4
           T158     35   41.682587  -87.707973                9             8
           T159    178   83.465968 -175.299284               16            27
           T209     39  125.221923 -262.639761               15            18
           T212     74   83.361892 -175.070396               16             3
           T220     45   41.963976  -87.691810                9             8
           T221    120  124.977336 -262.616079               24            14
           T222     48   41.925198  -87.746381                8             1
           T223    102   83.947690 -175.610118               18            12
           T224     17   41.947227  -87.671457                9             3
           T225     82   41.743402  -87.731435                8             3
           T226     90   41.793818  -87.654234                5             8
           T227    130   83.456990 -175.201926               10             8
           T228     39   41.951866  -87.725057                8             3
           T230     26   83.808388 -175.512310               18            18
           T231     58   41.987280  -87.666066                8             5
           T232     17   41.912563  -87.668055                9             1
           T233     71   42.009876  -87.807277                9             5
           T235     42   41.776428  -87.627096                8             1
           T900     60  251.848134 -527.343690               54            80

                 WnvPresent
Date       Trap
2007-05-29 T002           0
           T007           0
           T015           0
           T045           0
           T046           0
           T048           0
           T049           0
           T050           0
           T054           0
           T086           0
           T091           0
           T094           0
           T096           0
           T129           0
           T143           0
           T148           0
           T153           0
           T159           0
2007-06-05 T002           0
           T009           0
           T011           0
           T015           0
           T016           0
           T019           0
           T025           0
           T028           0
           T031           0
           T033           0
           T045           0
           T046           0
...                     ...
2013-09-26 T099           0
           T102           0
           T114           0
           T115           0
           T128           0
           T135           0
           T138           0
           T145           0
           T151           0
           T152           0
           T155           1
           T158           0
           T159           0
           T209           0
           T212           0
           T220           0
           T221           0
           T222           0
           T223           0
           T224           0
           T225           0
           T226           0
           T227           0
           T228           0
           T230           0
           T231           0
           T232           0
           T233           0
           T235           0
           T900           1

[4616 rows x 6 columns]

In [67]:
train.groupby('Date').sum()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Date,,,,,,
2007-05-29,906,1046.922110,-2192.404258,198,40,0
2007-06-05,2217,2512.953427,-5262.973680,492,127,0
2007-06-26,2842,2932.585753,-6140.364692,578,216,0
2007-06-29,1726,1926.696760,-4034.843843,375,85,0
2007-07-02,3012,3099.631846,-6491.067046,605,240,0
2007-07-11,6242,6361.540083,-13331.285260,1256,1103,0
2007-07-18,4692,5401.049082,-11312.186849,1021,853,1
2007-07-19,1318,1878.442603,-3941.821003,314,687,0
2007-07-25,1274,3835.314182,-8058.658822,478,4069,5
2007-07-27,3837,3478.645840,-7281.776715,681,247,0
2007-08-01,21074,23041.143887,-48309.962378,4202,6904,18
2007-08-02,4033,5716.552410,-12002.433132,936,2898,3
2007-08-03,190,208.431990,-437.658175,40,204,0
2007-08-07,8034,7701.947507,-16136.564487,1487,1780,12
2007-08-08,1287,3878.378598,-8145.389365,495,4186,7
2007-08-09,675,1084.770644,-2276.968276,166,507,1
2007-08-15,11294,11548.378049,-24203.743075,2210,4661,37
2007-08-16,1304,3877.280200,-8145.848462,522,4555,16
2007-08-17,1287,2251.631100,-4727.970841,345,1915,7
2007-08-21,7674,7787.778977,-16313.580238,1535,1667,32
2007-08-22,3500,5797.135712,-12176.118565,861,4512,33
2007-08-24,8053,7783.626654,-16312.452016,1522,1478,25
2007-08-28,1952,5003.094348,-10509.033766,663,4748,9
2007-09-04,4012,3855.504575,-8070.959805,766,524,8
2007-09-05,2910,3797.061735,-7974.269663,612,2021,10
2007-09-06,808,2084.544076,-4378.923560,280,1511,2
2007-09-12,4974,5644.917373,-11836.625813,1059,1193,5
2007-09-18,3880,3899.385667,-8158.451509,762,392,0
2007-09-19,3998,5134.410838,-10779.284812,872,1756,1
2007-09-24,6649,6987.497525,-14643.425415,1302,1570,2
...,...,...,...,...,...,...
2011-07-25,6179,7492.699064,-15702.603147,1431,2449,3
2011-07-29,5050,5777.995469,-12106.956460,1112,1408,8
2011-08-05,5171,5858.334421,-12279.724905,1105,1065,5
2011-08-12,4108,5356.885320,-11226.879955,1004,824,11
2011-08-19,4384,4980.957590,-10438.591965,960,589,4
2011-08-26,3933,4435.775452,-9295.643191,847,490,4
2011-09-01,2940,2596.991103,-5438.979980,509,319,4
2011-09-02,1136,2092.155779,-4387.589994,366,551,3
2011-09-12,4703,5776.359175,-12105.264979,1094,734,6
2011-09-16,4402,5023.007270,-10526.752105,958,821,3
2011-09-23,4380,4562.988443,-9561.824385,866,728,6
2011-09-30,2220,2555.457130,-5352.582095,487,184,0
2013-06-07,2895,3222.719598,-6754.286618,604,360,0
2013-06-14,4453,5065.821561,-10614.788733,979,1670,0
2013-06-21,4441,4854.843232,-10174.657349,928,1319,0
2013-06-27,2615,2598.244303,-5439.579954,522,439,0
2013-06-28,2231,2506.386406,-5260.637178,460,923,1
2013-07-08,4575,4981.106772,-10438.127322,960,1833,0
2013-07-12,7353,7615.800609,-15961.611787,1458,4796,7
2013-07-19,7220,7616.532755,-15961.451957,1466,4168,15
2013-07-25,5713,6404.623659,-13420.759387,1241,1974,2
2013-08-01,7299,7787.112802,-16316.458885,1512,2865,22
2013-08-08,7377,7573.263263,-15874.000833,1464,3188,34
2013-08-15,5989,6574.212750,-13771.723012,1278,1946,20
2013-08-22,6234,6989.827127,-14647.462977,1358,2063,30
2013-08-29,5512,5988.601072,-12545.516018,1176,2645,38
2013-09-06,5316,5986.876647,-12543.962955,1160,2510,32
2013-09-12,5024,5819.091973,-12192.021671,1123,2210,23
2013-09-19,4297,4687.524715,-9822.109017,899,1030,11
2013-09-26,3411,3848.634187,-8067.805347,724,505,4

# Modeling

In [68]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [69]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
def evaluate_model(m):
    model = m.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    score = accuracy_score(y_test, y_pred)
    conf_matrix = confusion_matrix(y_test,y_pred,labels =[0,1])
    class_report = classification_report
    print m,'\n'
    print "Accuracy Score:\t{:0.3}".format(score.round(3)),'\n\n'
    crossval = cross_val_score(m, X, y,cv=7)
    print "Cross Val Scores:", crossval,'\n'
    print "Avg cross val:", np.mean(crossval),'\n'
    print "Predicted Totals:"
    for i,v in enumerate(np.bincount(y)):
        print "class "+str(i)+':' , v
    print "\nConfusion Matrix:"
    conmat = np.array(confusion_matrix(y_test, y_pred, labels=[1,0]))
    confusion = pd.DataFrame(conmat, index=['Actual 1', 'Actual 0'],
                         columns=['Predicted 1','Predicted 0'])
    print(confusion),'\n'
    print "Classification Report:"
    print(classification_report(y_test, y_pred, target_names=['0','1']))

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit_transform(train['Trap'])

In [90]:
train.head(3)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0

In [89]:
test.head(3)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [82]:
pd.crosstab(train.AddressAccuracy,train.Date)

Date,2007-05-29,2007-06-05,2007-06-26,2007-06-29,2007-07-02,2007-07-11,2007-07-18,2007-07-19,2007-07-25,2007-07-27,...,2013-07-25,2013-08-01,2013-08-08,2013-08-15,2013-08-22,2013-08-29,2013-09-06,2013-09-12,2013-09-19,2013-09-26
AddressAccuracy,,,,,,,,,,,,,,,,,,,,,
3,0,1,1,1,1,2,0,1,0,2,...,1,2,1,2,1,1,2,1,1,1
5,2,1,2,1,3,2,19,15,86,1,...,16,17,20,13,15,12,13,15,13,14
8,19,38,38,29,43,92,64,25,6,50,...,66,82,79,71,79,57,63,62,51,42
9,4,20,29,15,27,56,46,4,0,30,...,70,85,81,71,72,73,65,61,47,35

In [95]:
trap_unique = train.groupby('Trap').max()

In [96]:
trap_unique

,Date,Address,Species,Block,Street,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Trap,,,,,,,,,,,
T001,2007-10-04,"4000 North Tripp Avenue, Chicago, IL 60641, USA",CULEX TERRITANS,40,N TRIPP AVE,"4000 N TRIPP AVE, Chicago, IL",41.953705,-87.733974,8,5,0
T002,2013-09-26,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,50,1
T003,2013-09-26,"4600 Milwaukee Avenue, Chicago, IL 60630, USA",CULEX TERRITANS,46,N MILWAUKEE AVE,"4600 N MILWAUKEE AVE, Chicago, IL",41.964242,-87.757639,8,50,1
T004,2007-10-04,"4900 West Sunnyside Avenue, Chicago, IL 60630,...",CULEX RESTUANS,49,W SUNNYSIDE AVE,"4900 W SUNNYSIDE AVE, Chicago, IL",41.962728,-87.748367,9,23,0
T005,2007-10-04,"6000 West Roscoe Street, Chicago, IL 60634, USA",CULEX TERRITANS,60,W ROSCOE ST,"6000 W ROSCOE ST, Chicago, IL",41.942114,-87.776385,8,12,1
T006,2007-10-04,"6000 North Avondale Avenue, Chicago, IL 60631,...",CULEX RESTUANS,60,N AVONDALE AVE,"6000 N AVONDALE AVE, Chicago, IL",41.990284,-87.797127,8,20,1
T007,2007-10-04,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,13,0
T008,2013-09-26,"7000 North Moselle Avenue, Chicago, IL 60646, USA",CULEX SALINARIUS,70,N MOSELL AVE,"7000 N MOSELL AVE, Chicago, IL",42.008314,-87.777921,9,50,1
T009,2013-09-26,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX TERRITANS,91,W HIGGINS RD,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.812827,8,50,1
T011,2013-09-26,"3600 North Pittsburgh Avenue, Chicago, IL 6063...",CULEX TERRITANS,36,N PITTSBURGH AVE,"3600 N PITTSBURGH AVE, Chicago, IL",41.944869,-87.832763,8,50,1
T012,2013-09-26,"6100 North Lemont Avenue, Chicago, IL 60646, USA",CULEX SALINARIUS,61,N LEMONT AVE,"6100 N LEMONT AVE, Chicago, IL",41.991429,-87.747113,8,50,1
T013,2013-09-26,"6100 West Fullerton Avenue, Chicago, IL 60639,...",CULEX TERRITANS,61,W FULLERTON AVE,"6100 W FULLERTON AVE, Chicago, IL",41.923738,-87.785288,9,50,1
T014,2007-10-04,"6400 West Strong Street, Chicago, IL, USA",CULEX TERRITANS,64,W STRONG ST,"6400 W STRONG ST, Chicago, IL",41.970248,-87.787992,8,49,1
T015,2007-10-04,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,26,1
T016,2009-09-25,"7200 North Oketo Avenue, Chicago, IL 60631, USA",CULEX TERRITANS,72,N OKETO AVE,"7200 N OKETO AVE, Chicago, IL",42.011601,-87.811506,8,50,1
T017,2013-09-26,"6000 West Montrose Avenue, Chicago, IL 60634, USA",CULEX TARSALIS,60,W MONTROSE DR,"6000 W MONTROSE DR, Chicago, IL",41.960616,-87.777189,9,16,0
T018,2013-09-19,"1200 West Greenleaf Avenue, Chicago, IL 60626,...",CULEX TERRITANS,12,W GREENLEAF AVE,"1200 W GREENLEAF AVE, Chicago, IL",42.010412,-87.662140,8,8,0
T019,2007-10-04,"3800 North California Avenue, Chicago, IL 6061...",CULEX RESTUANS,38,N CALIFORNIA AVE,"3800 N CALIFORNIA AVE, Chicago, IL",41.949830,-87.698457,9,17,0
T025,2007-10-04,"4900 West Balmoral Avenue, Chicago, IL 60630, USA",CULEX RESTUANS,49,W BALMORAL AVE,"4900 W BALMORAL AVE, Chicago, IL",41.979243,-87.750938,9,8,0
T027,2013-09-26,"5800 North Pulaski Road, Chicago, IL 60646, USA",CULEX TERRITANS,58,N PULASKI RD,"5800 N PULASKI RD, Chicago, IL",41.984809,-87.728492,8,50,1
T028,2013-09-19,"5800 North Western Avenue, Chicago, IL 60659, USA",CULEX SALINARIUS,58,N WESTERN AVE,"5800 N WESTERN AVE, Chicago, IL",41.986921,-87.689778,9,50,1
T030,2013-09-26,"1000 North Central Park Avenue, Chicago, IL 60...",CULEX TERRITANS,10,N CENTRAL PARK DR,"1000 N CENTRAL PARK DR, Chicago, IL",41.899230,-87.716788,9,50,1
T031,2013-09-26,"5000 South Central Avenue, Chicago, IL 60638, USA",CULEX TERRITANS,50,S CENTRAL AVE,"5000 S CENTRAL AVE, Chicago, IL",41.801498,-87.763416,9,50,1
T033,2013-09-26,"1400 North Sacramento Avenue, Chicago, IL 6062...",CULEX TERRITANS,14,N HUMBOLDT DR,"1400 N HUMBOLDT DR, Chicago, IL",41.906638,-87.701431,9,50,1
T034,2007-10-04,"2700 South Western Avenue, Chicago, IL 60608, USA",CULEX TERRITANS,27,S WESTERN AVE,"2700 S WESTERN AVE, Chicago, IL",41.843811,-87.686763,9,13,0
T035,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX TERRITANS,51,W 72ND ST,"5100 W 72ND ST, Chicago, IL",41.836644,-87.677737,8,31,1
T036,2007-10-04,"4200 West 31st Street, Chicago, IL 60623, USA",CULEX SALINARIUS,42,W 31ST ST,"4200 W 31ST ST, Chicago, IL",41.837085,-87.729384,9,5,1
T037,2007-10-04,"6800 West Belden Avenue, Chicago, IL 60707, USA",CULEX TERRITANS,68,W BELDEN AVE,"6800 W BELDEN AVE, Chicago, IL",41.921177,-87.795180,8,35,1
T039,2013-09-26,"1700 North Pulaski Road, Chicago, IL 60639, USA",CULEX TERRITANS,17,N PULASKI RD,"1700 N PULASKI RD, Chicago, IL",41.911824,-87.726737,9,33,1
T040,2007-06-26,"2100 South Hamlin Avenue, Chicago, IL 60623, USA",CULEX RESTUANS,21,S HAMLIN AVE,"2100 S HAMLIN AVE, Chicago, IL",41.852652,-87.719887,8,5,0
...,...,...,...,...,...,...,...,...,...,...,...
T160,2011-09-30,"1100 North Artesian Avenue, Chicago, IL 60622,...",CULEX TERRITANS,11,S ARTESIAN AVE,"1100 S ARTESIAN AVE, Chicago, IL",41.903002,-87.688267,8,50,1
T161,2007-10-04,"9600 South Hoyne Avenue, Chicago, IL 60643, USA",CULEX RESTUANS,96,S HOYNE AVE,"9600 S HOYNE AVE, Chicago, IL",41.719059,-87.675088,9,17,0
T162,2007-10-04,9300 South Doctor Martin Luther King Junior Dr...,CULEX RESTUANS,93,S DR MARTIN LUTHER KING JR DR,"9300 S DR MARTIN LUTHER KING JR DR, Chicago, IL",41.725517,-87.614258,8,8,1
T200,2011-09-30,"South Torrence Avenue, Chicago, IL, USA",CULEX TERRITANS,13,S TORRENCE AVE,"1300 S TORRENCE AVE, Chicago, IL",41.678618,-87.559308,5,50,1
T206,2007-10-09,"South Mackinaw Avenue, Chicago, IL 60617, USA",CULEX TERRITANS,13,S MACKINAW,"1300 S MACKINAW, Chicago, IL",41.737052,-87.543067,5,13,0
T209,2013-09-26,"South Brandon Avenue, Chicago, IL 60617, USA",CULEX TERRITANS,13,S BRANDON,"1300 S BRANDON, Chicago, IL",41.740641,-87.546587,5,41,1
T212,2013-09-26,"3700 118th Street, Chicago, IL 60617, USA",CULEX TERRITANS,37,E 118TH ST,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,1
T215,2007-10-09,"3800 East 115th Street, Chicago, IL 60617, USA",CULEX TERRITANS,38,E 115TH ST,"3800 E 115TH ST, Chicago, IL",41.686398,-87.531635,8,50,1
T218,2011-09-30,"3700 North Kedvale Avenue, Chicago, IL 60641, USA",CULEX RESTUANS,37,N KEDVALE AVE,"3700 N KEDVALE AVE, Chicago, IL",41.948167,-87.730698,8,30,1
T219,2007-10-04,"1800 West Leland Avenue, Chicago, IL 60640, USA",CULEX RESTUANS,18,W LELAND AVE,"1800 W LELAND AVE, Chicago, IL",41.966987,-87.674677,8,6,0
T220,2013-09-26,"4500 North Campbell Avenue, Chicago, IL 60625,...",CULEX TERRITANS,45,N CAMPBELL AVE,"4500 N CAMPBELL AVE, Chicago, IL",41.963976,-87.691810,9,50,1
T221,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX TERRITANS,40,E 130TH ST,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,50,1
T222,2013-09-26,"4800 West Montana Street, Chicago, IL 60639, USA",CULEX TERRITANS,48,W MONTANA ST,"4800 W MONTANA ST, Chicago, IL",41.925198,-87.746381,8,25,1
T223,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX TERRITANS,51,N MONT CLARE AVE,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,50,1
T224,2013-09-26,"1700 West Addison Street, Chicago, IL 60613, USA",CULEX RESTUANS,17,W ADDISON ST,"1700 W ADDISON ST, Chicago, IL",41.947227,-87.671457,9,26,1
T225,2013-09-26,"8200 South Kostner Avenue, Chicago, IL 60652, USA",CULEX SALINARIUS,82,S KOSTNER AVE,"8200 S KOSTNER AVE, Chicago, IL",41.743402,-87.731435,8,50,1
T226,2013-09-26,"West Garfield Boulevard, Chicago, IL, USA",CULEX TERRITANS,90,W GARFIELD BLVD,"9000 W GARFIELD BLVD, Chicago, IL",41.793818,-87.654234,5,50,1
T227,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX RESTUANS,65,E 91ST PL,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,50,1
T228,2013-09-26,"3900 North Springfield Avenue, Chicago, IL 606...",CULEX TERRITANS,39,N SPRINGFIELD AVE,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,46,1
T229,2009-10-01,"South Wallace Street, Chicago, IL, USA",CULEX RESTUANS,11,S WALLACE ST,"1100 S WALLACE ST, Chicago, IL",41.753411,-87.639817,5,11,0
T230,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX TERRITANS,13,N LARAMIE AVE,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,50,1
T231,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX RESTUANS,58,N RIDGE AVE,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,50,1
T232,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX RESTUANS,17,N ASHLAND AVE,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,30,1
T233,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX RESTUANS,71,N HARLEM AVE,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1
T235,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",CULEX TERRITANS,42,W 65TH ST,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,43,1
T236,2013-09-19,"6200 North Mcclellan Avenue, Chicago, IL 60646...",CULEX RESTUANS,62,N MCCLELLAN AVE,"6200 N MCCLELLAN AVE, Chicago, IL",41.994679,-87.770899,8,50,1
T237,2011-09-16,"2900 West 85th Street, Chicago, IL 60652, USA",CULEX PIPIENS/RESTUANS,29,W 85TH ST,"2900 W 85TH ST, Chicago, IL",41.738903,-87.695443,8,13,0
T238,2011-09-23,"3400 West 77th Street, Chicago, IL 60652, USA",CULEX TERRITANS,34,W 77TH ST,"3400 W 77TH ST, Chicago, IL",41.753391,-87.707394,8,10,0
T900,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX TERRITANS,10,W OHARE AIRPORT,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
T903,2013-09-12,"Ohare Court, Bensenville, IL 60106, USA",CULEX RESTUANS,10,W OHARE,"1000 W OHARE, Chicago, IL",41.957799,-87.930995,5,50,1

In [86]:
cols_to_encode = train.columns[5]
train_e = train.loc[cols_to_encode]
dummyEncode(train_e)

KeyError: 'the label [Trap] is not in the [index]'

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,0,68,2,41,36,1,82,41.95469,-87.800991,9
1,2,0,68,3,41,36,1,82,41.95469,-87.800991,9
2,3,0,68,1,41,36,1,82,41.95469,-87.800991,9
3,4,0,68,4,41,36,1,82,41.95469,-87.800991,9
4,5,0,68,6,41,36,1,82,41.95469,-87.800991,9