In [4]:
pwd

u'/Users/austinbrian/dev/skeeter_patrol/code'

In [2]:
import pandas as pd
import numpy as np

In [8]:
weather = pd.read_csv('../data/input/weather.csv')

In [11]:
weather.head().T

                      0           1           2           3           4
Station               1           2           1           2           1
Date         2007-05-01  2007-05-01  2007-05-02  2007-05-02  2007-05-03
Tmax                 83          84          59          60          66
Tmin                 50          52          42          43          46
Tavg                 67          68          51          52          56
Depart               14           M          -3           M           2
DewPoint             51          51          42          42          40
WetBulb              56          57          47          47          48
Heat                  0           0          14          13           9
Cool                  2           3           0           0           0
Sunrise            0448           -        0447           -        0446
Sunset             1849           -        1850           -        1851
CodeSum                                      BR       BR HZ
Depth                 0           M           0           M           0
Water1                M           M           M           M           M
SnowFall            0.0           M         0.0           M         0.0
PrecipTotal        0.00        0.00        0.00        0.00        0.00
StnPressure       29.10       29.18       29.38       29.44       29.39
SeaLevel          29.82       29.82       30.09       30.08       30.12
ResultSpeed         1.7         2.7          13        13.3        11.7
ResultDir            27          25           4           2           7
AvgSpeed            9.2         9.6        13.4        13.4        11.9

In [13]:
def eda(dataframe):
    print "Dataframe Shape", dataframe.shape
    print ""
    table = pd.DataFrame({"Missing": dataframe.isnull().sum(),
                          "Types": dataframe.dtypes,
                         "Uniques": [dataframe[i].nunique() for i in dataframe]})
    print table
    print ""
    print "Describe Dataframe"
    print dataframe.describe()

In [14]:
eda(weather)

Dataframe Shape (2944, 22)

             Missing    Types  Uniques
Station            0    int64        2
Date               0   object     1472
Tmax               0    int64       63
Tmin               0    int64       54
Tavg               0   object       60
Depart             0   object       42
DewPoint           0    int64       54
WetBulb            0   object       48
Heat               0   object       31
Cool               0   object       31
Sunrise            0   object      122
Sunset             0   object      119
CodeSum            0   object       98
Depth              0   object        2
Water1             0   object        1
SnowFall           0   object        4
PrecipTotal        0   object      168
StnPressure        0   object      104
SeaLevel           0   object      102
ResultSpeed        0  float64      190
ResultDir          0    int64       36
AvgSpeed           0   object      178

Describe Dataframe
           Station         Tmax         Tmin     DewPoint  ResultSpeed  \
count  2944.000000  2944.000000  2944.000000  2944.000000  2944.000000
mean      1.500000    76.166101    57.810462    53.457880     6.960666
std       0.500085    11.461970    10.381939    10.675181     3.587527
min       1.000000    41.000000    29.000000    22.000000     0.100000
25%       1.000000    69.000000    50.000000    46.000000     4.300000
50%       1.500000    78.000000    59.000000    54.000000     6.400000
75%       2.000000    85.000000    66.000000    62.000000     9.200000
max       2.000000   104.000000    83.000000    75.000000    24.100000

         ResultDir
count  2944.000000
mean     17.494905
std      10.063609
min       1.000000
25%       7.000000
50%      19.000000
75%      25.000000
max      36.000000

In [28]:
weather_types = {
'\+FC': 'TORNADO/WATERSPOUT',
'FC': 'FUNNEL CLOUD',
'TS': 'THUNDERSTORM',
'GR': 'HAIL',
'RA': 'RAIN',
'DZ': 'DRIZZLE',
'SN': 'SNOW',
'SG': 'SNOW GRAINS',
'GS': 'SMALL HAIL ANDOR SNOW PELLETS',
'PL': 'ICE PELLETS',
'IC': 'ICE CRYSTALS',
'FG\+': 'HEAVY FOG',
'FG': 'FOG',
'BR': 'MIST',
'UP': "UNKNOWN PRECIPITATION",
'HZ': 'HAZE',
'FU': 'SMOKE',
'VA': 'VOLCANIC ASH',
'DU': 'WIDESPREAD DUST',
'DS': 'DUSTSTORM',
'PO': 'SAND_DUST WHIRLS',
'SA': 'SAND',
'SS': 'SANDSTORM',
'PY': 'SPRAY',
'SQ': 'SQUALL',
'DR': 'LOW DRIFTING',
'SH': 'SHOWER',
'FZ': 'FREEZING',
'MI': 'SHALLOW',
'PR': 'PARTIAL',
'BC': 'PATCHES',
'BL': 'BLOWING',
'VC': 'VICINITY'}

In [29]:
for i in weather_types:
    weather[i] = 0
    weather.loc[weather['CodeSum'].str.contains(i) == True,i] = 1
weather.head().T

                      0           1           2           3           4
Station               1           2           1           2           1
Date         2007-05-01  2007-05-01  2007-05-02  2007-05-02  2007-05-03
Tmax                 83          84          59          60          66
Tmin                 50          52          42          43          46
Tavg                 67          68          51          52          56
Depart               14           M          -3           M           2
DewPoint             51          51          42          42          40
WetBulb              56          57          47          47          48
Heat                  0           0          14          13           9
Cool                  2           3           0           0           0
Sunrise            0448           -        0447           -        0446
Sunset             1849           -        1850           -        1851
CodeSum                                      BR       BR HZ
Depth                 0           M           0           M           0
Water1                M           M           M           M           M
SnowFall            0.0           M         0.0           M         0.0
PrecipTotal        0.00        0.00        0.00        0.00        0.00
StnPressure       29.10       29.18       29.38       29.44       29.39
SeaLevel          29.82       29.82       30.09       30.08       30.12
ResultSpeed         1.7         2.7          13        13.3        11.7
ResultDir            27          25           4           2           7
AvgSpeed            9.2         9.6        13.4        13.4        11.9
HZ                    0           0           0           1           0
VA                    0           0           0           0           0
VC                    0           0           0           0           0
GS                    0           0           0           0           0
GR                    0           0           0           0           0
BC                    0           0           0           0           0
BL                    0           0           0           0           0
FZ                    0           0           0           0           0
FG                    0           0           0           0           0
UP                    0           0           0           0           0
FC                    0           0           0           0           0
DZ                    0           0           0           0           0
+FC                   0           0           0           0           0
FG\+                  0           0           0           0           0
BR                    0           0           1           1           0
IC                    0           0           0           0           0
DU                    0           0           0           0           0
DR                    0           0           0           0           0
DS                    0           0           0           0           0
FU                    0           0           0           0           0
PR                    0           0           0           0           0
SS                    0           0           0           0           0
SQ                    0           0           0           0           0
PY                    0           0           0           0           0
MI                    0           0           0           0           0
TS                    0           0           0           0           0
SH                    0           0           0           0           0
RA                    0           0           0           0           0
\+FC                  0           0           0           0           0
SA                    0           0           0           0           0
SG                    0           0           0           0           0
PO                    0           0           0           0           0
PL                    0           0           0           0           0
SN                    0           0           0           0           0

In [31]:
weather['\+FC'].value_counts()

0    2944
Name: \+FC, dtype: int64