In [17]:
import pandas as pd
import numpy as np

weather = pd.read_csv('../data/input/weather.csv')
# train = pd.read_csv('../data/input/train.csv')
# test = pd.read_csv('../data/input/test.csv')
# spray = pd.read_csv('../data/input/spray.csv')

In [18]:
# reducing the list of columns in weather
weather_excluded = ['Depth', 'Water1', 'SnowFall', 'Depart', 'Heat', 'Cool', 'Sunrise', 'Sunset']
weather_keep = [column for column in weather.columns if column not in weather_excluded]
weather = weather[weather_keep]

In [19]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,51,56,,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,51,57,,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,42,47,BR,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,42,47,BR HZ,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,40,48,,0.00,29.39,30.12,11.7,7,11.9

In [20]:
# to remove the leading spaces
weather.PrecipTotal = weather.PrecipTotal.str.strip()

In [21]:
weather = weather.replace('T', 0.005)
weather = weather.replace('M', np.nan)

In [22]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,51,56,,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,51,57,,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,42,47,BR,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,42,47,BR HZ,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,40,48,,0.00,29.39,30.12,11.7,7,11.9

## Looking at daily data, some dates have an "M" or a &"T" in the field. What does this mean?

In [16]:
# "M" stands for "Missing". Data for an element will be missing if the primary sensor for that weather element is 
# inoperable (e.g., has an outage) or malfunctioning (e.g., producing errant data) AND any collocated backup sensor
# is also inoperable or malfunctioning. "T" stand for "Trace". This is a small amount of precipitation that will wet 
# a raingage but is less than the 0.01 inch measuring limit.

In [27]:
from IPython.display import display
print('Weather')
display(weather.head())

Weather

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,51,56,,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,51,57,,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,42,47,BR,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,42,47,BR HZ,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,40,48,,0.00,29.39,30.12,11.7,7,11.9

In [30]:
from IPython.display import YouTubeVideo
i = YouTubeVideo('https://www.youtube.com/watch?v=n9u-TITxwoM')

In [31]:
i

In [36]:
from IPython.display import HTML

display(HTML('<iframe src=http://m.google.com width=700 height=350></iframe>'))